
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "件のエラーがあります。") %> </h2>
      <ul>
        <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
  <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @property, url: choose_new_or_edit do |form| %>

<%= form.label :name ,class: "control-label" %>
<%= form.text_field :name ,class: "form-control" ,placeholder:"name" %>

<%= form.label :rent ,class: "control-label" %>
<%= form.number_field :rent ,class: "form-control" %><p>円</p>

<%= form.label :address ,class: "control-label" %>
<%= form.text_field :address ,class: "form-control" ,placeholder:"address" %>

<%= form.label :age ,class: "control-label" %>
<%= form.number_field :age ,class: "form-control" %><p>年</p>

<%= form.label :note ,class: "control-label" %>
<%= form.text_area :note ,class: "form-control" ,placeholder:"note" %>

  <div class="actions">
    <% if @property.new_record? %>
      <%= form.submit "新規投稿" ,class: "btn btn-info" %>
    <% else %>
      <%= form.submit "更新" ,class: "btn btn-danger" %>
    <% end %>
  </div>
<% end %>
