
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "") %> 件のエラーがあります。</h2>
      <ul>
        <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
  <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @property do |form| %>
  <%= form.label :name ,class: "control-label" %><br>
  <%= form.text_field :name ,class: "form-control" ,placeholder:"name" %><br>
  <%= form.label :rent ,class: "control-label" %><br>
  <%= form.number_field :rent ,class: "form-control" %> 円 <br>
  <%= form.label :address ,class: "control-label" %><br>
  <%= form.text_field :address ,class: "form-control" ,placeholder:"address" %><br>
  <%= form.label :age ,class: "control-label" %><br>
  <%= form.number_field :age ,class: "form-control" %> 年 <br>
  <%= form.label :note ,class: "control-label" %><br>
  <%= form.text_area :note ,class: "form-control" ,placeholder:"note" %><br>
<br>

    <%= form.fields_for :stations do |s| %>
      <%= s.label :route ,class: "control-label" %> <br>
      <%= s.text_field :route %> <br>
      <%= s.label :name ,class: "control-label" %> <br>
      <%= s.text_field :name %> <br>
      <%= s.label :time_needed ,class: "control-label" %> <br>
      <%= s.number_field :time_needed %> <br>

    <% end %>


  <div class="actions">
    <% if @property.new_record? %>
      <%= form.submit "新規投稿" ,class: "btn btn-info" %>
    <% else %>
      <%= form.submit "更新" ,class: "btn btn-danger" %>
    <% end %>
  </div>
<% end %>
