          <h3>以下の内容で送信する</h3>

          <%= form_for @property do |form| %>

          <%= form.hidden_field :name %>
          <p>name:<%= @property.name %></p>

          <%= form.hidden_field :rent %>
          <p>rent:<%= @property.rent %></p>

          <%= form.hidden_field :address %>
          <p>address:<%= @property.address %></p>

          <%= form.hidden_field :age %>
          <p>age:<%= @property.age %></p>

          <%= form.hidden_field :note %>
          <p>note:<%= @property.note %></p>

            <%= form.fields_for :stations do |s| %>

              <%= s.hidden_field :route %>
              <p>route:<%= @property.stations.route %></p>
              <%= s.hidden_field :name %>
              <p>name:<%= @property.stations.name %></p>
              <%= s.hidden_field :time_needed %>
              <p>time_needed:<%= @property.stations.time_needed %></p>
            <% end %>


        <%= form.submit "投稿",class: "btn btn-info" %>
        <%= form.submit "戻る",class: "btn btn-info" , name: 'back' %>
      <% end %>
